.text-justify {
    text-align: justify !important;
    text-justify: inter-word;
}

.custom-container {
    height: 95vh; /* 85% da altura da viewport */
}

/* Define a largura da sidebar e garante que ela não cresça */
.sidebar-17 {
    flex: 0 0 17%;
    /* Ajuste de altura para que a sidebar preencha o container */
}

/* Define a largura do conteúdo principal e permite que ele preencha o restante */
.main-83 {
    padding: 0; /* Removendo padding padrão para melhor controle */
    /* IMPORTANTE: Aqui definimos a altura máxima e ativamos o scroll para a área espiada */
    overflow-y: scroll; /* Ativa a barra de rolagem vertical */
}

/* Estilos adicionais para melhorar a visualização */
.sidebar-17 a {
    /* Adiciona o estilo 'active' do Scrollspy manualmente */
    color: rgba(255, 255, 255, 0.6); /* Cor de link normal */
    transition: color 0.2s;
}
.sidebar-17 a.active {
    /* Cor do link ativo */
    color: white !important; 
    font-weight: bold;
    text-decoration: underline;
}

body {
    height: 100%;
}